# Environment variables
.env

# SQLite database files
*.db
*.db-shm
*.db-wal

# Binaries
warehouse-api
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

